repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [ '--unsafe', '--allow-multiple-documents' ]
        exclude: ^helm/.*/templates/
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: no-commit-to-branch
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [ commit-msg ]
        additional_dependencies: [ '@commitlint/config-conventional' ]
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.6.3
    hooks:
      - id: renovate-config-validator
        args: [ --strict ]
  - repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.4
    hooks:
      - id: go-mod-tidy
      - id: go-imports
        exclude: '(zz_generated.*\.go|coverage.*\.go)$'
      - id: go-test-mod
      - id: go-fumpt
        exclude: '(zz_generated.*\.go|coverage.*\.go)$'
      - id: golangci-lint-mod
  - repo: local
    hooks:
      - id: go-generate
        name: go generate
        entry: make generate
        language: system
        pass_filenames: false
        files: (\.go$|^api/)

      - id: manifests
        name: make manifests
        entry: make manifests
        language: system
        pass_filenames: false
        files: (\.go$|^api/|^config/)
