replicaCount: 1
image:
  repository: ghcr.io/opzkit/database-user-operator
  pullPolicy: IfNotPresent
  tag: 0.1.1
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
controllerManager:
  args:
    - '--health-probe-bind-address=:8081'
    - '--metrics-bind-address=:8080'
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  livenessProbe:
    httpGet:
      path: /healthz
      port: 8081
    initialDelaySeconds: 15
    periodSeconds: 20
  readinessProbe:
    httpGet:
      path: /readyz
      port: 8081
    initialDelaySeconds: 5
    periodSeconds: 10
kubeRbacProxy:
  enabled: true
  image:
    repository: quay.io/brancz/kube-rbac-proxy
    tag: >-
      v0.20.2@sha256:ad0fa9f0adc928b557663297bd22c610533960d77acdec289ce8a636f0ea2114
    pullPolicy: IfNotPresent
  args:
    - '--secure-listen-address=0.0.0.0:8443'
    - '--upstream=http://127.0.0.1:8080/'
    - '--v=0'
  resources:
    limits:
      cpu: 500m
      memory: 128Mi
    requests:
      cpu: 5m
      memory: 64Mi
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
podSecurityContext:
  runAsNonRoot: true
serviceAccount:
  create: true
  annotations: {}
  name: db-operator
rbac:
  create: true
metrics:
  enabled: true
  port: 8443
  serviceMonitor:
    enabled: false
    interval: 30s
    scrapeTimeout: 10s
    additionalLabels: {}
podAnnotations: {}
podLabels: {}
nodeSelector: {}
tolerations: []
affinity: {}
env: []
extraVolumes: []
extraVolumeMounts: []
